body{
    background-image: url("image/1.jpg");
    background-minimun-size: 1000;
}
h1{
    color: white;
}
#container{
    width: 450px;
    height: 450px;
    background-color: rgba(00, 00, 00, 0.3);
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
}
#p1{
    margin: 10px;
    height: 40px;
    color: orangered;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.same {
    margin: 12px;
    padding: 5px 15px;
    width: 280px;
    height: 25px;
    font-size: 16px;
    border: 2px solid powderblue;
    border-radius: 6px;
    outline: none;
    
}
#btn{
    width: 120px;
    height: 60px;
    margin: 10px;
    padding: 5px;
    font-size: 16px;
    background-color: rgba(00, 00, 00, 0.1);
    color: white;
    border: 2px solid white;
}
.same:focus {
    border: 2px solid mediumslateblue;
    
}
#btn:hover{
    background-color: rgba(00, 00, 00, 0.4);
}

#port{
    max-width: 200px;
    max-height: 100px;
    margin: 0 500px;


}
#btn2{
    width: 300px;
    height: 50px;
    background-color:rgba(200, 100, 80, 0.2);
    font-size: 30px;
    border-radius: 40px;
    color: wheat;
    
}
a{
    color: black;
    text-decoration: none;
    font-family: cursive;
    
}
#contain{
    width: 500px;
    height: 200px;
    background-color: rgba(100, 50, 20, 0.3);
    margin: 0 auto;
    margin-top: 200px;
    border-radius: 40px;
    text-align: center;
    padding: 30px;
    padding-top: 70px;
}
h2{
    text-align: center;
    font-size: 50px;
    font-family: cursive;
    margin-bottom: -100px;
    color: wheat
}

